<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>

<body>
    <div class="ui main text container segment">
        <div class="ui huge header">Login</div>
        <form name="form" action="/login" method="POST" class="ui form">

            <div class="field">
                <label> Name: </label>
                <input type="text" name="name" placeholder="name">
            </div>

            <div class="field">
                <label> Password: </label>
                <input type="password" name="password" placeholder="password">
            </div>

            <button type="submit" class="ui violet basic button">Login</button>
        </form>
    </div>

    <a href="/register">Register</a>
</body>
</html>
